:root
	--spc: theme("spacing.1")

	--cWhite: #FAFAFA
	--cBlack: #27272A

	--cBase: #FFD480
	--cBaseComple: rgb(from var(--cBase) calc(255 - r) calc(255 - g) calc(255 - b))

	--cBaseOnWhite: #E19500
	--cTextBaseOnWhite: #FAFAFA
	--cSplitOnWhite: #a5a5ab

	--cBaseOnBlack: #FFD480
	--cTextBaseOnBlack: #27272A
	--cSplitOnBlack: #9c9c9c


	@media (prefers-color-scheme: light)
		color-scheme: light
		--cBack: var(--cWhite)
		--cText: var(--cBlack)
		--cMain: var(--cBaseOnWhite)
		--cTextMain: var(--cTextBaseOnWhite)
		--cGary: var(--cSplitOnWhite)

		--cBackSideBar: oklch(from var(--cBack) calc(l * 0.9) c h)

	@media (prefers-color-scheme: dark)
		color-scheme: dark
		--cBack: var(--cBlack)
		--cText: var(--cWhite)
		--cMain: var(--cBaseOnBlack)
		--cTextMain: var(--cTextBaseOnBlack)
		--cGary: var(--cSplitOnBlack)

		--cBackSideBar: oklch(from var(--cBack) calc(l * 1.2) c h)

	&[color-scheme="dark"]
		color-scheme: dark
		--cBack: var(--cBlack)
		--cText: var(--cWhite)
		--cMain: var(--cBaseOnBlack)
		--cTextMain: var(--cTextBaseOnBlack)
		--cGary: var(--cSplitOnBlack)

		--cBackSideBar: oklch(from var(--cBack) calc(l * 1.2) c h)

	--cOkay: #16A34A
	--cFail: #DC2626

	--cRingFocus: var(--cGary)
	--cRingNow: var(--cMain)

	--cRarity5: #FFCF70
	--cRarity4: #C197FF
	--cProgressBack: var(--cGary)



html
	@apply h-full overflow-x-hidden overflow-y-auto
	color: var(--cText)
	background: var(--cBack)
	font-family: 'Cascadia Code', 'Microsoft YaHei'

input
	color: var(--cText)



/** Global Scrollbar Style **/
@-moz-document url-prefix()
	*
		scrollbar-width: thin
		scrollbar-color: color-mix(in srgb, var(--cMain) 50%, var(--cBack) 20%) color-mix(in srgb, var(--cMain) 20%, var(--cBack) 20%)

::-webkit-scrollbar
	@apply w-[var(--widthScroll)] h-[var(--widthScroll)]

::-webkit-scrollbar-corner
	@apply bg-transparent

::-webkit-scrollbar-track:hover
	background-color: color-mix(in srgb, var(--cMain) 20%, var(--cBack) 20%)

::-webkit-scrollbar-thumb
	background: color-mix(in srgb, var(--cMain) 50%, var(--cBack) 20%)

	&:vertical
		border-radius: var(--widthScroll) 0 0 var(--widthScroll)
	&:horizontal
		border-radius: var(--widthScroll) var(--widthScroll) 0 0
	&:hoverc
		background: color-mix(in srgb, var(--cMain) 80%, var(--cBack) 20%)
	&:active
		@apply bg-[var(--cMain)] border-0 border-solid border-[var(--cBack)]

		&:vertical
			@apply border-r
		&:horizontal
			@apply border-b


/** Global Scrollbar Style (with Main color background) **/
[back-scheme=main]
	*
		scrollbar-color: color-mix(in srgb, var(--cBack) 50%, var(--cMain) 20%) color-mix(in srgb, var(--cBack) 20%, var(--cMain) 20%)

	&::-webkit-scrollbar-track:hover
		background-color: color-mix(in srgb, var(--cBack) 20%, var(--cMain) 20%)

	&::-webkit-scrollbar-thumb
		background: color-mix(in srgb, var(--cBack) 50%, var(--cMain) 20%)

		&:hover
			background: color-mix(in srgb, var(--cBack) 80%, var(--cMain) 20%)
		&:active
			@apply bg-[var(--cBack)] border-[var(--cMain)]
